<header class= " shadow-lg shadow-gray-400 mb-2 flex flex-row  justify-center content-center w-full h-auto bg-[#943133]">
  <div class=" w-30 m-2 p-0  h-20"><%= image_tag 'logo.png', class: "w-full h-full rounded"%></div> 
    <div class="  flex flex-1">
    </div>
  <ul class="grid grid-cols-3  justify-items-center  items-center space-x-2 mr-6 w-96 "">
    <li class="font-bold text-1xl text-[#E5D0CC] underline"><%= link_to  "Home", root_path %></li>
    <li class="font-bold text-1xl text-[#E5D0CC] underline"><%= link_to  "Agenda", customers_path %></li>
    <li class="font-bold text-1xl text-[#E5D0CC] underline"><%= link_to  "Teste", root_path %></li>
  </ul>
</header>